div{
  font-family: Arial;
}
.fb-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(240,240,240,0.8);
  height: 70px;
}
.left-header{
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.fb-pfp{
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
.fb-username{
  font-size: 18px;
  font-weight: 600;
}
.right-header{
  display: flex;
}
.add-friend{
  padding: 6px 16px;
  margin: 10px 0px;
  border: none;
  border-radius: 8px;
  background-color: rgb(21, 92, 207);
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.add-friend:active{
  background-color: rgb(76, 76, 202);
}
.Message{
  font-size: 15px;
  padding: 6px 18px;
  margin: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(221, 221, 221);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.icon-sidebar{
  background-color: rgb(43, 43, 43);
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.discord-pfp{
  width: 70px;
  border-radius: 50%;
  margin-bottom: 7px;
}
.channel-sidebar{
  background-color: rgb(55,55,55);
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 80px;
  width: 200px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.info-sidebar{
  color: rgb(239, 239, 239);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
}
.info-row{
  font-size: 16px;
  font-weight: 500;
}
.add-new{
  font-size: 25px;
}
.channel{
  color: grey;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}