p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin: 0;
  /* We use padding value to make the content 
  more visible by pushing it down */
  padding-top: 80px;
  /* To make the sidebar not cover over the video<div>
  elements we apply padding ! */
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}