.thumbnail{
  /*width: 300px;*/
  width: 100%;
  /*display: block;
  height: 300px;
  object-fit: contain; or cover makes the image fit in a desired aspect.
  object-position: right; it prioritizes the main focus point of image i.e top,bottom,left,right
  Debugging:
  border-width: 2px;
  border-style: solid;
  border-color: red;
  */
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500; /* we can use values to be more specific */
  line-height: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1000px){
  .video-title{
    font-size: 16px;
    line-height: 24px;
  }
  .video-author,
  .video-stats,
  .video-time{
    font-size: 14px;
  }
}

.video-title-link{
  text-decoration: none;
  color: black;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
/* DEBUGGING For viewing grid implementation
.channel-picture{
  background-color: grey;
}

.video-info{
  background-color: grey;
}
  */
.profile-pic{
  width: 36px;
  border-radius: 50px;
}
.video-author,
.video-stats{
  font-size: 12px;
  color: rgb(96,96,96);
}

.video-author{
  margin-bottom: 4px;
}

.thumbnail-row{
  position: relative;
  margin-bottom: 9px;
}
/* Inheritance feature only works on text elements, related to font 
text-decoration etc... the overall feature of child <div> remain the same */
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
/* To make the screen responsive and handles the layout we are 
gonna use @media query */
@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  } 
}

@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
}

.profile-picture-container{
  position: relative;
  display: inline-block;
}
.channel-tooltip{
  display: flex;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  padding: 10px 12px;
  width: 220px;
  position: absolute;
  top: 60px;
  z-index: 50;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
}

.profile-picture-container:hover .channel-tooltip{
  opacity: 1;
}

.channel-tooltip-picture{
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 8px;
}
.channel-tooltip-name{
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.channel-tooltip-subs{
  font-family: Roboto, Arial;
  font-size: 14px;
  color: rgb(96,96,96);
}